# Ignore the data directory that contains all the mnist files
data/mnist_all/

data/mnist_blur_pairs/
data/MNIST/*
results/
results_no_fft/
results_with_fft/
FFT/
wandb/
checkpoints/
# Ignore any other temporary or cache files
*.pyc
__pycache__/
.ipynb_checkpoints/
runs/
inference_all_images.zip

# Ignore virtual environments
venv/
env/

# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Ignore system files
.DS_Store
Thumbs.db